<script setup lang="ts">
  const layout = "default";
</script>

<template>
  <NuxtLayout :name="layout">
    <NuxtPage class="hello" />
  </NuxtLayout>
</template>

<style scoped>
.hello {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  padding: 2rem;
}
</style>
